.main {
  padding-bottom: 50px;
  padding-top: 20px;
}

body {
  background-color: #222C31;
  font-family: 'Roboto', sans-serif !important;
  min-height: 100vh;
}

/* .table > thead {
  background-color: #03A9F4;
} */

.main-table {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.main-title {
  color: #fff !important;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.search-box {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-box > i {
  margin-right: 10px;
}

.search-box > input {
  padding: 10px;
  border: none !important;
  outline: none !important;
}

.search-box > input :focus {
  border: none !important;
  outline: none !important;
}

.dropdown-button {

}

.filters-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  background: #FFF;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.age-input {
  width: 60px !important;
  margin-right: 10px;
}

.columns {
  justify-content: flex-start;
}

.table-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.amount-selector {
  background: #FFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}